.git
.github
.vscode
.cache

README.MD
CHANGELOG.MD
docs
test
tools

build
build-win
native-linux-artifact
native-win-artifact
ts-linux-artifact
tmp
log

node_modules
packages/*/node_modules
!packages/nodejs/node_modules
!packages/nodejs/node_modules/**

packages/nodejs/cache
packages/nodejs/data
packages/nodejs/log

**/*.log
