.git
.github
.vscode
.cache

README.MD
CHANGELOG.MD
docs
test

build
build-win
native-linux-artifact
native-win-artifact
ts-linux-artifact
tmp
log

node_modules
packages/*/node_modules
!packages/nodejs/node_modules
!packages/nodejs/node_modules/**
!packages/electron/node_modules/sharedMemory
!packages/electron/node_modules/skyline-server
!packages/electron/node_modules/skyline-server/**

packages/nodejs/cache
packages/nodejs/data
packages/nodejs/log

**/*.log
