# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build Linux

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: ['x86_64']
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: latest
          run_install: false

      - name: Generate TAG
        id: Tag
        run: |
          tag='continuous'
          name='Continuous Build'
          if [ 'true' == ${{ startsWith(github.ref, 'refs/tags/') }} ];then
            tag='${{ github.ref_name }}'
            name='${{ github.ref_name }}'
          fi
          echo "tag result: $tag - $name"
          echo "::set-output name=tag::$tag"
          echo "::set-output name=name::$name"
         
      - name: Prepare
        run: |
          pnpm install --no-frozen-lockfile
          
      - name: Build
        run: |
          cd packages/typescript
          pnpm run build
          cd ../../
          mkdir -p tmp/build
          mv packages/nodejs/webview/server.js tmp/build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ts-linux-artifact
          path: tmp/build